 body {
    background-color: #FAF7F5;
 }
 .logo-header {
  background-color: #FAF7F5;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
    margin-bottom: 100px;

    display: flex;
  justify-content: center;
 }
  #heading{ 
    font-size: 3em;
    font-family: 'Abhaya Libre ExtraBold';
    color: #565264;
    background-color: #EABACB;
    text-align: center;
  }
.container1 {
  border: 2px solid #565264;
  padding: 20px;
  margin: 200px auto;
  width: 80%;
    
}
nav {
  color: #565264;
  padding: 10px;
  text-align: center;
}
nav > ul > li { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 2em;
  font-family: 'Abhaya Libre ExtraBold';
  justify-content: center;
  list-style: none;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 5px;
  }
  nav > ul > li> a {
    color: inherit;
  }
  nav > ul > li > a:hover {
    background-color: #565264; 
    color: #EABACB; 
    border-radius: 5px;
}

.container2 {
    border: 2px solid #565264;
    background-color: #EABACB;
    padding: 20px;
    margin: 100px auto;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.child-div {
    border: 1px solid #565264;
    background-color:#FAF7F5;
    padding: 15px;
    margin-inline-start: 10px;
    width: 45%;
    
}
.child img {
  width: 50%; 
    max-width: 50%; 
    height: auto; 
    display: inline-block; 
    margin: 0 auto; /* Centers the image inside the child */
    border-radius: 8px; 
}
h1 {
  font-size: 3em;
  font-family: 'Abhaya Libre ExtraBold';
  color: #565264;
  background-color: #EABACB;
  text-align: center;
    
}
h2 {
  font-size: 1.5em;
  font-family: 'Abhaya Libre';
  color: #706677;
  text-align: center;
}
h3 {
  font-size: 1em;
  font-family: 'Abhaya Libre';
  color: #6D6460;
  text-align: center;
}
.gallery {
  display: grid; 
   grid-template-columns: repeat(3, auto); 
  grid-template-rows: repeat(2, auto); 
  grid-gap: 20px; 
  justify-content: center; /* Centers the grid horizontally */
  align-items: center; 
  border: 2px solid #565264;
  background-color:#FAF7F5;
  padding: 15px;
}

.gallery img {
  width: 100%; /* Makes images responsive to grid cell width */
  height: auto; 
  border-radius: 10px; 
  box-shadow: 2px 2px 6px #565264;
}

/* this part changes the appearance depending on screen size*/
@media (max-width: 600px) {
  .child-div {
    width: 90%; /* make full width on small screens */
  }
  nav > ul > li {
    font-size: 1.5em;
  }

  #heading {
    font-size: 1.5em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: .7em;
    text-align: center;
  }
  .gallery{
    grid-template-columns: repeat(2, auto); 
   grid-gap: 5px;
   padding: 5px;
  }
}