 body {
    background-color: #FAF7F5;
 }
 .logo-header {
    display: flex;
    justify-content: center; 
    padding: 10px;
    margin-bottom: 100px;
 }
  #heading{ 
    font-size: 3em;
    font-family: 'Abhaya Libre ExtraBold';
    color: #565264;
    background-color: #EABACB;
    text-align: center;
  }
.description{
  border: 2px solid #565264;
  padding: 20px;
  margin: 200px auto;
  width: 80%;
    
}
nav > ul > li { 
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  text-decoration: none;
    font-size: 1.2em;
    font-family: 'Abhaya Libre ExtraBold';
    color: #706677;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 5px;
  }
  nav > ul > li > a:hover {
    background-color: #565264; 
    color: #EABACB; 
    border-radius: 5px;
}

.parent {
    border: 2px solid #565264;
    background-color: #EABACB;
    padding: 20px;
    margin: 100px auto;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child {
    border: 1px solid #565264;
    background-color:#FAF7F5;
    padding: 15px;
    margin-inline-start: 10px;
    width: 45%;
    
}
.child img {
  width: 50%; 
    max-width: 50%; 
    height: auto; 
    display: inline-block; 
    margin: 0 auto; /* Centers the image inside the child */
    border-radius: 8px; 
}
h1 {
  font-size: 3em;
  font-family: 'Abhaya Libre ExtraBold';
  color: #565264;
  text-align: center;
}
h2 {
  font-size: 1.5em;
  font-family: 'Abhaya Libre';
  color: #706677;
  text-align: center;
}
h3 {
  font-size: 1em;
  font-family: 'Abhaya Libre';
  color: #6D6460;
  text-align: center;
}
